body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ddd; /* Texto principal */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #333; /* Encabezado oscuro */
    color: #fff;
    padding: 20px 0;
}

.titulo {
    font-size: 36px; /* Tamaño grande para el título */
    margin: 0;
}

.main-content {
    margin-top: 20px;
}

.articulo {
    background-color: #2c3e50; /* Fondo oscuro para el artículo */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.seccion {
    margin-bottom: 30px;
}

.subtitulo {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ddd; /* Color claro para los subtítulos */
}

.texto {
    font-size: 18px;
    line-height: 1.6;
}

.lista {
    list-style-type: none;
    padding: 0;
}

.item {
    background-color: #34495e; /* Fondo oscuro para los elementos de la lista */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.imagenes img {
    width: 45%; /* Ajusta el tamaño de las imágenes según sea necesario */
    border-radius: 8px; /* Bordes redondeados para las imágenes */
    border-radius: 10%;
}

.footer {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #333; /* Fondo oscuro para el pie de página */
    color: #fff;
}

.copyright {
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: #ccc;
}
